!#include ".cache/colorer/Xresources"
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6


! URxvt Appearance
#define FONT SF Mono
#define FONT_SIZE 9
URxvt.font: xft:FONT:style=Regular:size=FONT_SIZE:antialias=true:hinting=true,xft:Hack:size=11
URxvt.boldFont: xft:FONT:style=Bold:size=FONT_SIZE:antialias=true:hinting=true,xft:Hack:size=11
URxvt.italicFont: xft:FONT:style=Regular Italic:size=FONT_SIZE:antialias=true:hinting=true
URxvt.boldItalicFont: xft:FONT:style=Bold Italic:size=FONT_SIZE:antialias=true:hinting=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 80x24
! URxvt.geometry: 75x20
URxvt.internalBorder: 5 
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
! URxvt.depth: 32
URxvt.iso14755: false
URxvt.transparent: false
URxvt.depth: 32
URxvt.background: [75]#000000 


!! Common Keybinds for Navigations
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-j: command:\033]721;1\007

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,resize-font
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.font-size.step: 1

!! URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

!! Xterm
xterm*faceName: FONT
xterm*faceSize: FONT_SIZE
xterm*internalBorder: 32
xterm*font: 9x15
xterm*termName: xterm-256color

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

